<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Smuoy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Smuoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>839FC5A419FA746500F09B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839FC5BE19FA746500F09B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83B739DB1A03C517006DEE13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83B739E71A03C520006DEE13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
